**/images
**/actors
**/faces
**/actresses
*.log
**/data
.ipynb_checkpoints/
*ipynb_checkpoints
.vscode
fastai/
__pycache__/
new_data/
*.err
model_weights/
*.pkl
*.sh
*.idea
*.pth
*.csv
*.pdf
*.DS_Store
*.txt
train/
test/
valid/